@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  
}

body{
  background-image: linear-gradient(to right, red, purple , blue);
}

.home,
.moods,
.playing {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

*{padding:0px;
  margin:0px;
  box-sizing: border-box;}
  
  body{
    background-image:linear-gradient(to right, red,blue);
  }
  
  .searchbar{
    height:50px;
    width:50%;
    margin:20px;
  }
  
  .box{
    display: block;
    margin:auto;
    
  }
  
  .head1{
    display:flex;
    background-color:black;
  
    height:80px;
  }
  .text-gradient{
    font-size:50px;
    background:linear-gradient(blue,red) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  .head2{
    color:white;
    font-size:28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:20px;
    
  
  
  }
  .img1{width:300px;
  margin:30px;}
  
  .navbar{
    width:200px;
    
    background-color:#21222A;
    margin-bottom:0px;
    
  }
   
  .logo-img{
    width:40px;
    height:40px;
    margin-right:10px;
    margin-left:10px;
    margin-top:15px;
  }
  
  .search{
    height:40px;
    width:80px;
    color:blue;
    border:1px solid black;
  }
  
  .avatar-img{
    width:50px;
    height:50px;
    margin-right:10px;
    margin-left:950px;
    margin-top:15px;
  
  }
  
  
  
  
   ul li {
    font-size: 24px;
    color:white;
    margin:10px;
   }
  
  
   a:link,a:visited{
    font: size 24px;
      color:white;
    margin:10px;
    text-decoration: none;
  }
  
   .main{
    display:flex;
  
   }





















































































































   #profilePage {
    display: grid;
    width: 95%;
    justify-content: center;
    grid-template-columns: 25% 70%;
    padding: 30px;
  }
  
  #profilePageRight {
    display: grid;
    width: inherit;
    justify-content: center;
    justify-items: center;
  }
  
  #profilePageLeft {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  
  .profileGrid {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw;
    justify-content: space-between;
    padding: 0;
    justify-items: center ;
  }
  
  .profileText{
    padding-top: 10px;
  }
  
  #profilePhoto{
    width: 250px;
    height: 250px;
    border-radius: 200px;
  }
  
  ul li {
    list-style-type: none;
  }
  
  .App {
    background-color: black;
    color: white;
  }
  
  .uploadButtons {
    background-color: #00000000;
    color: white;
    transition: 200ms;
  }
  
  #uploadPicture:hover {
    color: rgb(67, 171, 255);
  }
  
  #profileReset:hover {
    color: rgb(240, 114, 92);
  }
  
  #randomPicture:hover {
    color:rgb(59, 241, 166)
  }