#profilePage {
  display: grid;
  width: 95%;
  justify-content: center;
  grid-template-columns: 25% 70%;
}

#profilePageRight {
  display: grid;
  width: inherit;
  justify-content: center;
  justify-items: center;
}

#profilePageLeft {
  width: inherit;
  justify-content: center;
}

.profileGrid {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw;
  justify-content: space-between;
  padding: 0;
  border: 1px solid;
  justify-items: center ;
}

ul li {
  list-style-type: none;
}

.App {
  background-color: black;
  color: white;
}

.uploadButtons {
  background-color: #00000000;
  color: white;
  transition: 200ms;
}

#uploadPicture:hover {
  color: rgb(67, 171, 255);
}

#profileReset:hover {
  color: rgb(240, 114, 92);
}
